<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Encrypt</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <link rel="stylesheet" type="text/css"
        href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
  </div>
</nav>
<div class="container" style="min-height: 500px">

  <div class="starter-template">

    <h1>Encrypt Data</h1>

    <form class="form-encrypt" method=post th:action="@{/encrypt}" th:object="${form}">

      <label class="col-sm-1 control-label" style="font-size: 20px">iv</label>
      <div class="col-sm-11">
        <input type="text" class="form-control" th:field="*{iv}" required maxlength="16" minlength="16"/>
      </div>
      <br/><br/><br/>

      <label class="col-sm-1 control-label" style="font-size: 20px">text</label>
      <div class="col-sm-11">
        <textarea rows="15" class="form-control" th:field="*{text}" required></textarea>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <button type="submit" id="bth-search" style="margin-top: 20px;margin-bottom: 20px"
                  class="btn btn-primary btn-lg">Encrypt
          </button>
        </div>
      </div>
      <br/><br/>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <textarea rows="10" class="form-control" th:text="*{result}" disabled></textarea>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>

</body>
</html>